:root {
  --main-color: #082032;
  --second-color: #2C394B;
  --light-blue: #334756;
  --orange: #FF4C29;
}
body{
    background-color: var(--main-color);
}
.navbar{
    background-color: var(--orange);
    color: var(--main-color);
}
.chris{
    font-weight: bolder;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: black;
    color: var(--orange);
    height: 30px;
}
.footlink{
    color: var(--orange);
}
button{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn{
    border-radius: 8px;
    background-color: var(--second-color);
    border-color: var(--second-color);
    color: var(--orange);
    font-weight: bolder;
}
.btn:hover{
    border-radius: 8px;
    opacity: .5;
    background-color: var(--orange);
    text-decoration: none;
}
.btnlink{
    text-decoration: none;
    color: var(--orange);

}
.btnlink:hover{
    text-decoration: none;
}
.navbar-toggler-icon{
    color: var(--main-color);
    transform: rotate(90deg);
    font-weight: bolder;
    font-size: 25px;
}
.jumbotron-fluid{
    display: flex;background-color: var(--main-color);

}
.aboutMe{
    background-color: var(--second-color);
    color: var(--orange);
    line-height: 1.5;
    border-radius: 10px;
    padding: 20px;
}
.placeholderbox{
    display: flex;
    flex-direction: row;
    height: 445px;
    width: 300px;
    background-color: green;
    border-radius: 10px;
    margin-bottom: 20px;
}
.lead{
    display: flex;
    flex-direction: row;
}
.title{
    text-align: center;
    margin-bottom: 20px;
    background-color: var(--second-color);
    color: var(--orange);
    border-radius: 10px;
}
.icon{
    height:20px;
}
.modal-header{
    background-color: var(--orange);
    color:var(--main-color);
}
.modal-body{
    background-color: var(--main-color);
}
.modal-footer{
    background-color: var(--orange);
}
.dropdown-item, .dropdown-item-static{
    color: var(--orange);
}
.dropdown-item-static{
    margin-left: 48px;
    margin-top: 15px ;
    margin-bottom: 15px;
}
.form{
    color: var(--orange);
    width: 100%;
    text-align: center;
}
.btnsub{
    border-radius: 8px;
    background-color: var(--second-color);
    border-color: var(--second-color);
    color: var(--orange);
    font-weight: bolder;
}
.btnsub:hover{
    border-radius: 8px;
    opacity: .5;
    background-color: var(--orange);
    text-decoration: none;
}
.banner{
    width: 100%;
}
@font-face {
    font-family:akira_expandedsuper_bold ;
    src: url(./assets/fonts/akira_expanded_demo-webfont.woff2);
}
.test{
    font-family: akira_expandedsuper_bold;
}