:root {
  --main-color: #082032;
  --second-color: #2C394B;
  --light-blue: #334756;
  --orange: #FF4C29;
  --font: akira_expandedsuper_bold;
}
body{
        background-image: linear-gradient(to bottom right, var(--main-color), var(--orange));
}
.navbar{
    background-color: var(--orange);
    color: var(--main-color);
}
.chris{
    font-family: var(--font);
    font-size: 18px;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: black;
    color: var(--orange);
    height: 30px;
    font-size: 16px;
}
.footlink{
    color: var(--orange);
}
button{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: var(--font);
}
.btn{
    border-radius: 8px;
    background-color: var(--second-color);
    border-color: var(--second-color);
    color: var(--orange);
    font-weight: bolder;
}
.btn:hover{
    border-radius: 8px;
    opacity: .5;
    background-color: var(--orange);
    text-decoration: none;
}
.btnlink{
    text-decoration: none;
    color: var(--orange);

}
.btnlink:hover{
    text-decoration: none;
}
.navbar-toggler-icon{
    color: var(--main-color);
    transform: rotate(90deg);
    font-weight: bolder;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
.jumbotron-fluid{
    background-color: var(--main-color);
}
.try{
    padding-left: 110px;
}
.csimage{
    width: 75%;
    padding-left: 450px;
    border-radius: 10px;
}
.aboutMe{
    background-color: var(--second-color);
    color: var(--orange);
    font-size: 16px;
    border-radius: 10px;
    padding: 20px;
    font-family: var(--font);
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 50px;
    margin-bottom: 25px;
}
.aboutMe{
    text-align: center;
}
.lead{
    display: flex;
    flex-direction: row;
}
.title{
    text-align: center;
    margin-bottom: 20px;
    background-color: var(--second-color);
    color: var(--orange);
    border-radius: 10px;
    font-family: var(--font);
}
.icon{
    height:20px;
}
.modal-header{
    background-color: var(--orange);
    color:var(--main-color);
    font-family: var(--font);
}
.modal-body{
    background-color: var(--main-color);
    font-family: var(--font);
}
.modal-footer{
    background-color: var(--orange);
    font-family: var(--font);
}
.dropdown-item, .dropdown-item-static{
    color: var(--orange);
    text-align: center;
}

.form{
    color: var(--orange);
    width: 100%;
    text-align: center;
}
.btnsub{
    border-radius: 8px;
    background-color: var(--orange);
    border-color: var(--orange);
    color: var(--main-color);
    font-weight: bolder;
}
.btnsub:hover{
    border-radius: 8px;
    opacity: .5;
    background-color: var(--orange);
    text-decoration: none;
}
.card{
    background-color: var(--light-blue);
    border-radius: 15px;
    color: var(--orange);
    font-family: var(--font);
}
@font-face{ 
	font-family: 'akira_expandedsuper_bold';
	src: url('WebFont.eot');
	src: url('WebFont.eot?#iefix') format('embedded-opentype'),
	     url('WebFont.woff') format('woff'),
	     url('WebFont.ttf') format('truetype'),
	     url('WebFont.svg#webfont') format('svg');
}